<tal:block tal:define="id product/getId" change:productprice="name 'price'; product product">
	<td tal:condition="displayConfig/showCheckboxes" tal:define="name string:catalogParam[selected_product][$id]; fieldid string:catalogParam_selected_product_$id">
		<input class="product-selector" tal:condition="checkboxes/$id" checked="checked" tal:attributes="id fieldid; name name; value id" type="checkbox"/>
		<input class="product-selector" tal:condition="not: checkboxes/$id" tal:attributes="id fieldid; name name; value id" type="checkbox"/>
	</td>
	<td>
		<a change:link="document product; catalogParam[shopId] contextShopId; catalogParam[topicId] product/getContextualTopicId" class="link" tal:attributes="title product/getLinkTitle" >
			<img change:productvisual="name 'visual'; mode 'list'; product product" change:media="document visual; format 'modules.catalog.frontoffice/list'" />
		</a>
	</td>
	<td>
		<ul>
			<li><a change:link="document product; catalogParam[shopId] contextShopId; catalogParam[topicId] product/getContextualTopicId" tal:attributes="title product/getLinkTitle">${product/getLabelAsHtml}</a></li>
			<li tal:condition="product/getBrand" change:translate="modules.catalog.frontoffice.from-brand; name product/getBrandLabelAsHtml" />
			<tal:block tal:condition="displayConfig/showProductDescription">
				<li tal:condition="product/getShortDescription">${product/getShortDescription}</li>
			</tal:block>
			<tal:block tal:condition="displayConfig/showProductPictograms">
				<li tal:condition="product/getPictogramCount">
					<ul class="product-pictos">
						<li tal:repeat="pictogram product/getPictogramArray"><img change:media="document pictogram" /></li>
					</ul>
				</li>	
			</tal:block>					
		</ul>
	</td>
	<td tal:condition="displayConfig/showRatingAverage">${product/getFormattedRatingAverage}</td>
	<td tal:condition="displayConfig/showAvailability">${product/getAvailability}</td>
	<td class="priceht" tal:condition="displayConfig/showPricesWithoutTax">
		<tal:block tal:condition="price/isDiscount">
			<del>${price/getFormattedOldValueWithoutTax}</del>
			<br />			
		</tal:block>
		${price/getFormattedValueWithoutTax}			
	</td>
	<td class="pricettc" tal:condition="displayConfig/showPricesWithTax">
		<tal:block tal:condition="price/isDiscount">
			<del>${price/getFormattedOldValueWithTax}</del>
			<br />		
		</tal:block>
		${price/getFormattedValueWithTax}
	</td>
	<tal:block tal:condition="displayConfig/showAddToCart">		
		<td tal:condition="displayConfig/showQuantitySelector">
			<tal:block tal:condition="php: product.canBeOrdered(shop)">
				<label class="invisible" for="catalogParam_quantities_${id}" change:translate="modules.catalog.frontoffice.Detail-quantityLabel"></label>
               	<input class="textfield quantity-selector" type="text" size="3" id="catalogParam_quantities_${id}" name="catalogParam[quantities][${id}]" value="${php: isset(quantities[id]) ? quantities[id] : 0}" />
			</tal:block>
		</td>
		<td>
			<tal:block tal:condition="php: product.canBeOrdered(shop)">
				<input type="submit" name="catalogParam[addToCart][${id}]" class="button" change:i18nattr="value &modules.catalog.frontoffice.LabelHrefAddToCart;" />
			</tal:block>
			<a class="button" change:link="module featurepackb; action UpdateList; listName 'featurepackb_comparison'; mode 'add'; productIds[] id; backurl currenturl:">${trans:m.featurepackb.fo.add-to-comparisons,ucf}</a>
		</td>
	</tal:block>
</tal:block>