<tal:block tal:condition="displayConfig/showShareBlock" change:block="" module="sharethis" name="Sharepage" />
<h2 tal:condition="blockTitle" id="product-list-title" change:h="">${blockTitle}</h2>
<div tal:condition="blockDescription" class="product-list-description">${blockDescription}</div>
<tal:block tal:condition="displayConfig/showSortMenu" change:include="module displayConfig/controlsmodule; template displayConfig/controlstemplate; type 'html'; transmitAll 'true';"/>

<tal:block change:block="" module="order" name="CartMessages" />
<tal:block change:block="" module="website" name="messages" container="" />
<ul change:errors=""></ul>
<ul change:messages=""></ul>

<div tal:condition="not:products" change:translate="modules.catalog.frontoffice.No-product-to-display"></div>
<form class="modules-catalog" tal:condition="products" action="#product-list-title" method="post" data-addtocomparison-url="${actionurl:'featurepackb','UpdateList',listName='featurepackb_comparison',attr,backurl=currenturl:}"> 	
	<input type="hidden" name="catalogParam[formBlockId]" value="${displayConfig/blockId}" />
	<script change:javascript="src 'modules.catalog.lib.js.productListManagement'"></script>
	<script change:javascript="head 'modules.featurepackb.lib.js.product-list'"></script>
	<div class="ecom-list">
		<ol class="table-view">
			<tal:block tal:repeat="product products">
				<li class="product-line" tal:define="id product/getId; canBeOrdered php: product.canBeOrdered(shop)" change:productprice="name 'price'; product product">
					<ul class="sub-list">
						<tal:block tal:condition="canBeOrdered">
						<li tal:condition="displayConfig/showCheckboxes" tal:define="name string:catalogParam[selected_product][$id]; fieldid string:catalogParam_selected_product_$id">
							<input class="product-selector" tal:condition="checkboxes/$id" checked="checked" tal:attributes="id fieldid; name name; value id" type="checkbox"/>
							<input class="product-selector" tal:condition="not: checkboxes/$id" tal:attributes="id fieldid; name name; value id" type="checkbox"/>
							<label tal:attributes="for fieldid" change:translate="modules.catalog.frontoffice.Select"></label>
						</li>
						</tal:block>
						<li change:productvisual="name 'visual'; mode 'list'; product product" tal:condition="visual">
							<a change:link="document product; catalogParam[shopId] contextShopId; catalogParam[topicId] product/getContextualTopicId" tal:attributes="title product/getLinkTitle">
		          				<img change:media="document visual; format 'modules.catalog.frontoffice/pic120x120'" />
		          			</a>
						</li>
						<li>
							<a change:link="document product; catalogParam[shopId] contextShopId; catalogParam[topicId] product/getContextualTopicId" tal:attributes="title product/getLinkTitle">${product/getLabelAsHtml}</a>
						</li>
						<li tal:condition="displayConfig/showRatingAverage">
	       					<span class="small"><tal:block change:translate="modules.catalog.frontoffice.Rating-averageLabel" /> ${product/getFormattedRatingAverage}</span>
						</li>
						<tal:block tal:condition="displayConfig/showAvailability">
							<li tal:define="availability product/getAvailability" tal:condition="availability">
		       					<span class="small">${availability}</span>
							</li>
						</tal:block>
						<li tal:condition="displayConfig/showPricesWithoutTax">
		          			<span class="priceht">
		          				<tal:block tal:condition="price/isDiscount"><del>${price/getFormattedOldValueWithoutTax}</del></tal:block>	
								${price/getFormattedValueWithoutTax}
		          			</span>
						</li>
						<li tal:condition="displayConfig/showPricesWithTax">
		          			<span class="pricettc"> 
		          				<tal:block tal:condition="price/isDiscount"><del>${price/getFormattedOldValueWithTax}</del></tal:block>		
								${price/getFormattedValueWithTax}
							</span>
						</li>
						<tal:block tal:condition="displayConfig/showAddToCart">
							<li tal:condition="canBeOrdered">
								<tal:block tal:condition="displayConfig/showQuantitySelector">
									<label class="invisible" for="catalogParam_quantities_${id}" change:translate="modules.catalog.frontoffice.Detail-quantityLabel"></label>
	                				<input class="textfield quantity-selector" type="text" size="3" id="catalogParam_quantities_${id}" name="catalogParam[quantities][${id}]" value="${php: isset(quantities[id]) ? quantities[id] : 0}" />
	                				<br />
	                			</tal:block>
	                			<input type="submit" name="catalogParam[addToCart][${id}]" class="button" change:i18nattr="value &modules.catalog.frontoffice.LabelHrefAddToCart;" />
							</li>
						</tal:block>
						<li>
							<a class="button" change:link="module featurepackb; action UpdateList; listName 'featurepackb_comparison'; mode 'add'; productIds[] id; backurl currenturl:">${trans:m.featurepackb.fo.add-to-comparisons,ucf}</a>
						</li>
					</ul>
				</li>
			</tal:block>
		</ol>
	</div>
	<div class="cleaner"></div>
	<div class="list-buttons" tal:repeat="button displayConfig/globalButtons">
		<input class="button" name="catalogParam[${button/name}]" type="submit" value="${button/label}" /> ${button/help}
	</div>
	<div class="list-buttons hidden-without-js">
		<input class="button" name="mode[add]" type="submit" value="${trans:m.featurepackb.fo.add-to-comparison-list,ucf,attr}" onclick="onGlobalAddToComparisonButtonClick(this);" /> ${trans:m.featurepackb.fo.add-to-comparison-list-help,ucf}
	</div>
</form>

<div class="pagination" tal:condition="products">
	<div change:paginator="products"></div>
</div>