<tal:block tal:condition="displayConfig/showShareBlock" change:block="" module="sharethis" name="Sharepage" />

<h2 tal:condition="blockTitle" id="product-list-title" change:h="">${blockTitle}</h2>
<div tal:condition="blockDescription" class="product-list-description">${blockDescription}</div>

<tal:block tal:condition="displayConfig/showSortMenu" change:include="module 'catalog'; template 'Catalog-Inc-ProductListOrderOptions'; type 'html'; displayConfig displayConfig; valueSortOption valueSortOption;"/>

<tal:block change:block="" module="order" name="CartMessages" />
<tal:block change:block="" module="website" name="messages" container="" />
<ul change:errors=""></ul>
<ul change:messages=""></ul>

<div tal:condition="not:products" change:translate="modules.catalog.frontoffice.No-product-to-display"></div>
<div tal:condition="products" class="products-list-list modules-catalog">
	<script change:javascript="src 'modules.catalog.lib.js.productListManagement'"></script>
	<script change:javascript="head 'modules.featurepackb.lib.js.product-list'"></script>
	<form action="#product-list-title" method="post" style="clear:both" data-addtocomparison-url="${actionurl:'featurepackb','UpdateList',listName='featurepackb_comparison',attr,backurl=currenturl:}">
		<input type="hidden" name="catalogParam[formBlockId]" value="${displayConfig/blockId}" />
		<table border="0" class="normal">
			<thead>
				<tr>
					<th tal:condition="displayConfig/showCheckboxes" class="first"><span class="invisible" change:translate="modules.catalog.frontoffice.Product-selection"></span></th>
					<th><span class="invisible" change:translate="modules.catalog.frontoffice.Product-visual"></span></th>
					<th change:translate="modules.catalog.frontoffice.Nomination" />
					<th tal:condition="displayConfig/showRatingAverage" change:translate="modules.catalog.frontoffice.Rating-average" />
					<th tal:condition="displayConfig/showAvailability" change:translate="modules.catalog.frontoffice.Availability" />
					<th tal:condition="displayConfig/showPricesWithoutTax">
						<abbr change:i18nattr="title &modules.order.frontoffice.unitprice-without-tax;" change:translate="modules.order.frontoffice.unitprice-without-tax-abr"></abbr>
					</th>
					<th tal:condition="displayConfig/showPricesWithTax">
						<abbr change:i18nattr="title &modules.order.frontoffice.unitprice-with-tax;" change:translate="modules.order.frontoffice.unitprice-with-tax-abr"></abbr>
					</th>
					<tal:block tal:condition="displayConfig/showAddToCart">
						<th tal:condition="displayConfig/showQuantitySelector" change:translate="modules.catalog.frontoffice.Detail-quantity" />
						<th class="last"><span class="invisible" change:translate="modules.catalog.frontoffice.Product-add-to-cart"></span></th>
					</tal:block>
				</tr>
			</thead>
			<tbody>
				<tal:block tal:repeat="product products">
					<tr class="product-line row-${repeat/product/odd}" tal:define="id product/getId" change:productprice="name 'price'; product product">
						<td tal:condition="displayConfig/showCheckboxes" tal:define="name string:catalogParam[selected_product][$id]; fieldid string:catalogParam_selected_product_$id">
							<input class="product-selector" tal:condition="checkboxes/$id" checked="checked" tal:attributes="id fieldid; name name; value id" type="checkbox"/>
							<input class="product-selector" tal:condition="not: checkboxes/$id" tal:attributes="id fieldid; name name; value id" type="checkbox"/>
						</td>
						<td>
							<a change:link="document product; catalogParam[shopId] contextShopId; catalogParam[topicId] product/getContextualTopicId" class="link" tal:attributes="title product/getLinkTitle" >
								<img change:productvisual="name 'visual'; mode 'list'; product product" change:media="document visual; format 'modules.catalog.frontoffice/list'" />
							</a>
						</td>
						<td>
							<ul>
								<li><a change:link="document product; catalogParam[shopId] contextShopId; catalogParam[topicId] product/getContextualTopicId" tal:attributes="title product/getLinkTitle">${product/getLabelAsHtml}</a></li>
								<li tal:condition="product/getBrand" change:translate="modules.catalog.frontoffice.from-brand; name product/getBrandLabelAsHtml" />
								<tal:block tal:condition="displayConfig/showProductDescription">
									<li tal:condition="product/getShortDescription">${product/getShortDescription}</li>
								</tal:block>
								<tal:block tal:condition="displayConfig/showProductPictograms">
									<li tal:condition="product/getPictogramCount">
										<ul class="product-pictos">
											<li tal:repeat="pictogram product/getPictogramArray"><img change:media="document pictogram" /></li>
										</ul>
									</li>	
								</tal:block>					
							</ul>
						</td>
						<td tal:condition="displayConfig/showRatingAverage">${product/getFormattedRatingAverage}</td>
						<td tal:condition="displayConfig/showAvailability">${product/getAvailability}</td>
						<td class="priceht" tal:condition="displayConfig/showPricesWithoutTax">
							<tal:block tal:condition="price/isDiscount">
								<del>${price/getFormattedOldValueWithoutTax}</del>
								<br />			
							</tal:block>
							${price/getFormattedValueWithoutTax}			
						</td>
						<td class="pricettc" tal:condition="displayConfig/showPricesWithTax">
							<tal:block tal:condition="price/isDiscount">
								<del>${price/getFormattedOldValueWithTax}</del>
								<br />		
							</tal:block>
							${price/getFormattedValueWithTax}
						</td>
						<tal:block tal:condition="displayConfig/showAddToCart">		
							<td tal:condition="displayConfig/showQuantitySelector">
								<tal:block tal:condition="php: product.canBeOrdered(shop)">
									<label class="invisible" for="catalogParam_quantities_${id}" change:translate="modules.catalog.frontoffice.Detail-quantityLabel"></label>
				                	<input class="textfield quantity-selector" type="text" size="3" id="catalogParam_quantities_${id}" name="catalogParam[quantities][${id}]" value="${php: isset(quantities[id]) ? quantities[id] : 0}" />
								</tal:block>
							</td>
							<td>
								<tal:block tal:condition="php: product.canBeOrdered(shop)">
									<input type="submit" name="catalogParam[addToCart][${id}]" class="button" change:i18nattr="value &modules.catalog.frontoffice.LabelHrefAddToCart;" />
								</tal:block>
								<a class="button" change:link="module featurepackb; action UpdateList; listName 'featurepackb_comparison'; mode 'add'; productIds[] id; backurl currenturl:">${trans:m.featurepackb.fo.add-to-comparisons,ucf}</a>
							</td>
						</tal:block>
					</tr>
				</tal:block>
			</tbody>
		</table>
		<div class="list-buttons" tal:repeat="button displayConfig/globalButtons">
			<input class="button" name="catalogParam[${button/name}]" type="submit" value="${button/label}" /> ${button/help}
		</div>
		<div class="list-buttons hidden-without-js">
			<input class="button" name="mode[add]" type="submit" value="${trans:m.featurepackb.fo.add-to-comparison-list,ucf,attr}" onclick="onGlobalAddToComparisonButtonClick(this);" /> ${trans:m.featurepackb.fo.add-to-comparison-list-help,ucf}
		</div>
	</form>
</div>

<div class="pagination" tal:condition="products">
	<div change:paginator="products"></div>
</div>