<tal:block tal:condition="displayConfig/showShareBlock" change:block="" module="sharethis" name="Sharepage" />

<h2 tal:condition="blockTitle" id="product-list-title" change:h="">${blockTitle}</h2>
<div tal:condition="blockDescription" class="product-list-description">${blockDescription}</div>

<tal:block tal:condition="displayConfig/showSortMenu" change:include="module displayConfig/controlsmodule; template displayConfig/controlstemplate; type 'html'; transmitAll 'true';"/>

<tal:block change:block="" module="order" name="CartMessages" />
<tal:block change:block="" module="website" name="messages" container="" />
<ul change:errors=""></ul>
<ul change:messages=""></ul>

<div tal:condition="not:products" change:translate="modules.catalog.frontoffice.No-product-to-display"></div>
<form class="modules-catalog" tal:condition="products" action="#product-list-title" method="post" data-addtocomparison-url="${actionurl:'featurepackb','UpdateList',listName='featurepackb_comparison',attr,backurl=currenturl:}">
	<input type="hidden" name="catalogParam[formBlockId]" value="${displayConfig/blockId}" />
	<script change:javascript="src 'modules.catalog.lib.js.productListManagement'"></script>
	<script change:javascript="head 'modules.featurepackb.lib.js.product-list'"></script>
	<div class="ecom-list">
		<ol class="table-view">
			<li tal:repeat="product products" class="product-line">
				<tal:block module="catalog" container="" name="ProductItem" 
					change:block="cmpref product; displayConfig displayConfig/itemconfig; shop shop;" displayMode="list" />
			</li>
		</ol>
	</div>
	<div class="cleaner"></div>
	<div class="list-buttons" tal:repeat="button displayConfig/globalButtons">
		<input class="button" name="catalogParam[${button/name}]" type="submit" value="${button/label}" /> ${button/help}
	</div>
	<div class="list-buttons hidden-without-js">
		<input class="button" name="mode[add]" type="submit" value="${trans:m.featurepackb.fo.add-to-comparison-list,ucf,attr}" onclick="onGlobalAddToComparisonButtonClick(this);" /> ${trans:m.featurepackb.fo.add-to-comparison-list-help,ucf}
	</div>
</form>

<div class="pagination" tal:condition="products">
	<div change:paginator="products"></div>
</div>